@use "./base" as *;

.card, .card-user-container, .card-user {
  padding: 25px 30px;
  border-radius: 20px;
  background-color: $neutral-800;
}

.card-user-container {
  background-color: $primary;
  position: relative;
  margin-bottom: 65px;
  grid-row: 1 / 3;

  .user-info {
    position: relative;
    z-index: 1;
  }

  .card-user {
    background-color: $neutral-800;
    position: absolute;
    left: 0; right: 0; bottom: -65px;
    z-index: -1;
    
    padding-top: 55px;

    display: flex;
    justify-content: space-around;
  }
}

.card-container {
  // min-height: 150px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 60px;
    left: 0; right: 0; top: -40px;
    border-radius: 20px 20px 0 0;

    background-color: $primary-work;
    background-image: url("../images/icon-work.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }

  .card {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 15px;

    .card-title {
      display: flex;
      justify-content: space-between;
    }

    .card-content {
      display: flex;
      justify-content: space-between;
    }
  }
}


.card-container-play::before {
  background-color: $primary-play;
  background-image: url("../images/icon-play.svg");
}
